<!-- collegamenti alle mie pagine Linkedin e Github all'interno del footer -->
<div class="footer">
  <footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container p-4 pb-0" >
      <a class="m-2" href="https://www.linkedin.com/in/domenico-danto/" target="_blank">
        <img src="assets/img/Linkedin.png" >
      </a>
      <a class="m-1" href="https://github.com/Domenic90" target="_blank">
        <img src="assets/img/GitHub.png">
      </a>
    </div>
    <div class="text-center p-3 text-black">
      © 2021 Copyright:
      <a>Domenico D'antò</a>
    </div>
  </footer>
</div>
