<div class="container">

  <nav class="navbar navbar-toggler">
    <a class="btn btn-light" href="http://localhost:4200/">METEO</a>
    <!-- form di inserimento dati e richiesta api tramite metodo sendToApi -->
    <form class="d-flex" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPI(weatherSearchForm.value)">
      <input type="search" class="form-control me-2" id="weatherLocation" placeholder="Inserisci la tua località"
        formControlName="location" aria-label="weatherLocation">
      <!-- gestione evento tramite metodo getCityInput -->
      <button type="submit" class="btn btn-success" (click)="getCityInput($event)">Cerca</button>
    </form>
  </nav>




 </div>


<!-- invio dei dati per la lettura al componente app-weather -->
  <app-weather [weatherData]="weatherData"></app-weather>
