a {
  position: relative;
  left: 10px;
  bottom: 2px;
}

input {
  position: relative;
  right: 10px;
  bottom: 2px;
}

button {
  position: relative;
  right: 10px;
  bottom: 2px;
}

.container{
  position: relative;
  bottom: 340px;
}
