.navbar {
  position: relative;
  bottom: 24px;
}

a {
  position: relative;
  left: 10px;
}

input {
  position: relative;
  right: 10px;
}

button {
  position: relative;
  right: 10px;
}

.btn-success{
  background-color:dodgerblue;
}

