  <nav class="navbar navbar-toggler">
    <a class="btn btn-info text-white" href="http://localhost:4200/">METEO</a>
    <!-- form di inserimento dati e richiesta api tramite funzione sendToApi -->
    <form class="d-flex" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPI(weatherSearchForm.value)">
      <input *ngIf="this.weatherData?.success==false" type="search" class="form-control me-3"
        placeholder="Inserisci la tua località" formControlName="location"
        style="border-color: red; border-width: 3px; position: relative; left: 224px;">
      <input type="search" class="form-control me-3" id="weatherLocation" placeholder="Inserisci la tua località"
        formControlName="location" aria-label="weatherLocation">
      <button type="submit" class="btn btn-success" (click)="getCityInput($event)">Cerca</button>
    </form>
  </nav>
  <!-- invio dei dati per la lettura al componente app-weather -->
<app-weather *ngIf="weatherData" [weatherData]="weatherData"></app-weather>
