.marginiCitta{
  margin-bottom: 70px;
}

h5 {
  color: dimgray;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  top: 280px;
}

.imgIcon{
  width: 25px
}


