<div class="container">




  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Milano.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Milano</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Roma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roma</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Napoli.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Napoli</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Torino.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torino</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Firenze.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Firenze</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/Palermo.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Palermo</h5>
          <p class="card-text">Condizioni Meteo di Oggi:{{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;"> {{this.weatherData?.current.temperature}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>




</div>


<br>
<br>
<br>
<br>
