<div class="container">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" id="Milano">
        <img src="assets/img/Milano.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Milano {{this.City[0]}} {{this.weatherData?.request.query}}</h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="Roma">
        <img src="assets/img/Roma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roma {{this.City[1]}} {{this.weatherData?.request.query}}</h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="Napoli">
        <img src="assets/img/Napoli.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Napoli {{this.City[2]}}  {{this.weatherData?.request.query}}</h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" id="Torino">
        <img src="assets/img/Torino.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torino {{this.City[3]}}  {{this.weatherData?.request.query}}</h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="Firenze">
        <img src="assets/img/Firenze.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Firenze {{this.City[4]}} {{this.weatherData?.request.query}} </h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="Palermo">
        <img src="assets/img/Palermo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Palermo {{this.City[5]}}  {{this.weatherData?.request.query}}</h5>
          <p class="card-text">Condizioni Meteo di Oggi: {{this.weatherData?.current.weather_descriptions}}
            <img src={{this.weatherData?.current.weather_icons[0]}} style="width: 25px;">
            {{this.weatherData?.current.temperature}}°
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

</div>

<br>
<br>
<br>
<br>
